.container {
    display: flex;
    background-color: orange;
    flex-direction: column-reverse;  /* é possível colocar row; row-reverse; e column, que deixa o sentido de baixo para cima normal*/
    max-height: fit-content;
    margin: 10px;
    padding: 10px;
}



.item {
    border: 2px solid black;
    background-color: cornflowerblue;
    padding: 10px;
}

.justify { 
    margin: 10px;
    padding: 10px;
    display: flex;
    background-color: crimson;
    justify-content: space-between; /* funciona na horizontal e dispôe dos elementos: start; space-around; end; center  */
}

.justify-2 {
    display: flex;
    background-color: crimson;
    padding: 10px;
    margin: 10px;
    justify-content: center;
}

.align {
    display: flex;
    background-color: darkmagenta;
    padding: 10px;
    margin: 10px;
    height: 200px;
    align-items: end; /* stretch é o valor padrão do elemento align-items */
}

.align-2 {
    display: flex;
    background-color: darkmagenta;
    padding: 10px;
    margin: 10px;
    height: 200px;
    align-items: baseline; /* vão todos seguir a linha de base independentemente de serem alguns maiores do que os outros */
    justify-content: space-around;
}

.align-2 p:nth-child(2) {
    font-size: 2rem;
}

.align-2 p:nth-child(4) {
    font-size: 4rem;
}