body { 
    background-color: firebrick; 
    display: flex; /* ativa flexbox */ 
    justify-content: center;/* centraliza horizontalmente */ 
    align-items: flex-start;/* alinha no topo */ 
    gap: 20px; /* espaço entre main e aside */ } 
    
main { 
    flex: 2; /* ocupa mais espaço */ 
    color: white; 
    padding: 20px; } 
    
aside { 
    flex: 1; /* ocupa menos espaço */ 
    background-color: rgba(69, 242, 30, 0.515); 
    padding: 15px; 
    color: antiquewhite; 
    border: dashed 5px white;
    border-radius: 5%;    
}

a {
    color: antiquewhite;
}

h1, .fraco { 
    font-size: 3em; 
    font-weight: bold; 
    background: linear-gradient(45deg, #FFD700, #FFA500, #FFEC8B); 
    -webkit-background-clip: text; /* necessário para navegadores WebKit */ 
    -webkit-text-fill-color: transparent; /* deixa o texto transparente para mostrar o gradiente */ 
    background-clip: text; /* padrão */ 
}

h2 {
     font-size: larger; 
    font-weight: bold; 
    background: linear-gradient(45deg, #FFD700, #FFA500, #FFEC8B); 
    -webkit-background-clip: text; /* necessário para navegadores WebKit */ 
    -webkit-text-fill-color: transparent; /* deixa o texto transparente para mostrar o gradiente */ 
    background-clip: text; /* padrão */ 
}