 .grid{
    display: grid;
   background: linear-gradient(45deg, #00008B, #1E3A8A, #4682B4);

 }
 
 body {
    grid-template-areas:
    "logo header header"
    "main main aside"
    "footer footer footer"
    ;
 }

 .logo {
    grid-area: logo;
    border-radius: 30px;
    border: solid 3px cyan;
    border-radius: 10px;
    background: linear-gradient(135deg, #000000, #00008B);
 }

 .header {
    grid-area: header;
    border: solid 3px cyan;
    border-radius: 10px;
    background: linear-gradient(to bottom, #000000, #00008B);
 }

 .main {
    grid-area: main;
    border: solid 3px cyan;
    border-radius: 10px;
    background: linear-gradient(to right, #000000, #00008B);
 }

 .aside {
    grid-area: aside;
    border: solid 3px cyan;
    border-radius: 10px;
    background: linear-gradient(135deg, #000000, #00008B);
 }

 .footer {
    grid-area: footer;
    border: solid 3px cyan;
    border-radius: 10px;
    background: linear-gradient(to bottom, #000000, #00008B);
 }

 .area {
    padding: 20px;
    margin: 20px;
 }

 .paragrafo {
    font-size: larger;
 }

 .listas {
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
 }

 li {
    margin: 20px;
 }

 .container {
  display: flex;              /* ativa o flexbox */
  flex-direction: row;        /* organiza os filhos em linha */
  justify-content: space-around; /* distribui os itens com espaço */
  align-items: flex-start;    /* alinha pelo topo */
  flex-wrap: wrap;            /* permite quebrar linha se não couber */
  gap: 20px;                  /* espaço entre os blocos */
}

.content {
  background: linear-gradient(to right, #000000, #808080);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  flex: 1 1 150px;            /* flex-grow, flex-shrink, flex-basis */
  max-width: 200px;           /* largura máxima de cada bloco */
}

 * {
   color: beige;
}


